streamlit
langchain
langchain_openai
dotenv
langchain-community
ddgs
fastapi 
uvicorn 
pydantic
beautifulsoup4
requests
langchain-experimental
wikipedia
chromadb 
langchain-chroma 
pypdf
langchain-text-splitters
